body {
  background-color: #e0d9dd;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1025px) {
  .navegacion-principal nav ul {
    gap: 2px;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(3, 1fr);
  }

  #productos-favoritos div {
    grid-template-columns: repeat(4, 1fr);
  }

  #categorias-productos div {
    grid-template-columns: repeat(3, 1fr);
  }

  #informacion-importante {
    flex-direction: row;
  }

  footer {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .menu-icon {
    display: flex;
  }

  .navegacion-principal nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #e0d9dd;
    left: 0;
    width: auto;
    padding: 20px 0;
    box-shadow: 0 4px 6px;
  }

  .navegacion-principal nav ul #menu-toggle:checked+.menu-icon+nav ul {
    display: flex;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(1, 1fr);
  }

  #productos-favoritos div {
    grid-template-columns: repeat(2, 1fr);
  }

  #categorias-productos div {
    grid-template-columns: repeat(1, 1fr);
  }

  #informacion-importante {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
  }
}

body {
  background-color: #e0d9dd;
}

.barra-superior {
  background-color: #684145;
  color: white;
  text-align: center;
  padding: 1px;
  margin: 0px;
  font-size: 18px;
}

.navegacion-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 15px 30px;
  background-color: #e0d9dd;
  border-bottom: 1px solid #ccc;
}

.navegacion-principal .logo {
  height: 40px;
}

.navegacion-principal nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  list-style: none;
  padding: 10px;
  margin: 10px;
  background-color: #b092a4;
}

.navegacion-principal nav ul li a {
  text-decoration: none;
  color: #e0d9dd;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}

.navegacion-principal nav ul li a:hover {
  color: #e0d9dd;
}

.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
}

#menu-toggle {
  display: none;
}

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.opciones input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 6px 20px;
  font-size: 14px;
}

.opciones .icono-carrito {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#momentos-especiales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

#momentos-especiales h1 {
  margin: 0;
  text-align: center;
  font-size: 45px;
}

#momentos-especiales div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  gap: 25px;
}

#momentos-especiales img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

#productos-favoritos h1 {
  margin: 35px;
  text-align: center;
  font-size: 45px;
}

#productos-favoritos div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  gap: 25px;
}

#productos-favoritos img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

#categorias-productos h1 {
  margin: 35px;
  text-align: center;
  font-size: 45px;
}

#categorias-productos div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  gap: 25px;
  justify-items: center;
}

#categorias-productos a {
  text-decoration: none;
  color: black;
  text-align: center;
}

#categorias-productos img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

#categorias-productos p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

#informacion-importante {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
  background-color: #b092a4;
  margin: 50px;
}

#informacion-importante div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 130px;
  height: 120px;
  background-color: #e0d9dd;
  border-radius: 8px;
  box-shadow: 0 2px 5px;
}

#informacion-importante p {
  margin: 5px 0;
  font-size: 12px;
  color: black;
  height: 20px;
}

#informacion-importante img {
  width: auto;
  height: 50px;
  margin: 5px 0;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 10px;
  font-size: 14px;
}

footer p {
  margin: 15px;
}

.pagina-principal {
  background-color: white;
  color: black;
}

.pagina-principal header nav ul li {
  display: flex;
}

.pagina-principal header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-principal main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-principal main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-new {
  background-color: white;
  color: black;
}

.pagina-new header nav ul li {
  display: flex;
}

.pagina-new header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-new main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-new main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-bestsellers {
  background-color: white;
  color: black;
}

.pagina-bestsellers header nav ul li {
  display: flex;
}

.pagina-bestsellers header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-bestsellers main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-bestsellers main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-anillos {
  background-color: white;
  color: black;
}

.pagina-anillos header nav ul li {
  display: flex;
}

.pagina-anillos header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-anillos main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-anillos main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-pendientes {
  background-color: white;
  color: black;
}

.pagina-pendientes header nav ul li {
  display: flex;
}

.pagina-pendientes header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-pendientes main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-pendientes main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-pulseras {
  background-color: white;
  color: black;
}

.pagina-pulseras header nav ul li {
  display: flex;
}

.pagina-pulseras header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-pulseras main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-pulseras main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-collares {
  background-color: white;
  color: black;
}

.pagina-collares header nav ul li {
  display: flex;
}

.pagina-collares header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-collares main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-collares main h3 {
  text-align: center;
  line-height: 1.6;
}

.pagina-blog {
  background-color: white;
  color: black;
}

.pagina-blog header nav ul li {
  display: flex;
}

.pagina-blog header nav ul li a {
  text-decoration: none;
  color: black;
}

.pagina-blog main h1 {
  text-align: center;
  margin-top: 20px;
}

.pagina-blog main h3 {
  text-align: center;
  line-height: 1.6;
}

@media (min-width: 1025px) {
  .navegacion-principal nav ul {
    gap: 2px;
  }

  #momentos-especiales {
    grid-template-columns: 1fr 3fr;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(3, 1fr);
  }

  #productos-favoritos div {
    grid-template-columns: repeat(4, 1fr);
  }

  #categorias-productos div {
    grid-template-columns: repeat(3, 1fr);
  }

  #informacion-importante {
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navegacion-principal nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    left: 0;
    width: auto;
    padding: 20px 0;
    box-shadow: 0 4px 6px;
  }

  #menu-toggle:checked+.menu-icon+nav ul {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  #momentos-especiales {
    grid-template-columns: 1fr 2fr;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(2, 1fr);
  }

  #productos-favoritos div {
    grid-template-columns: repeat(3, 1fr);
  }

  #categorias-productos div {
    grid-template-columns: repeat(2, 1fr);
  }

  #informacion-importante {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .navegacion-principal nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    left: 0;
    width: 600px;
    padding: 20px 0;
    box-shadow: 0 4px 6px;
  }

  #menu-toggle:checked+.menu-icon+nav ul {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  #momentos-especiales {
    grid-template-columns: 1fr;
  }

  #momentos-especiales div {
    grid-template-columns: repeat(1, 1fr);
  }

  #productos-favoritos div {
    grid-template-columns: repeat(2, 1fr);
  }

  #categorias-productos div {
    grid-template-columns: repeat(1, 1fr);
  }

  #informacion-importante {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */