// Importar variables y mixins
@import "../scss/variables/variables";
@import "../scss/variables/base";
@import "../scss/variables/responsive";
@import "../scss/variables/mixins";

// Estilos generales
body {
    background-color: $color-fondo;
}

// HEADER
.barra-superior {
    background-color: $color-texto;
    color: $color-fondo;
    text-align: center;
    padding: 1px;
    margin: 0px;
    font-size: $font-size-medium;
}

.navegacion-principal {
    @include flex(space-between, center);
    padding: 15px 30px;
    background-color: $color-fondo;
    border-bottom: 1px solid $color-borde;

    .logo {
        height: 40px;
    }

    nav ul {
        @include flex($gap: 2px);
        list-style: none;
        padding: 10px;
        margin: 10px;
        background-color: $color-primario;

        li a {
            text-decoration: none;
            color: $color-texto;
            font-size: $font-size-base;
            font-weight: bold;
            padding: 5px 10px;

            &:hover {
                color: $color-hover;
            }
        }
    }
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    span {
        width: 25px;
        height: 3px;
        background-color: $color-texto;
        border-radius: 2px;
    }
}

#menu-toggle {
    display: none;
}

.opciones {
    @include flex($gap: 15px);
    align-items: center;

    input {
        border: 1px solid $color-borde;
        border-radius: 2px;
        padding: 6px 20px;
        font-size: 14px;
    }

    .icono-carrito {
        font-size: $font-size-medium;
        text-decoration: none;
        color: $color-texto;
    }
}

// MOMENTOS ESPECIALES
#momentos-especiales {
    @include grid(3);
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;

    h1 {
        margin: 0;
        text-align: center;
        font-size: $font-size-title;
    }

    div {
        @include grid(3);
        gap: 25px;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }

}

// PRODUCTOS FAVORITOS
#productos-favoritos {
    h1 {
        margin: 35px;
        text-align: center;
        font-size: $font-size-title;
    }

    div {
        @include grid(4);
        gap: 25px;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }
}

// CATEGORIAS DE PRODUCTOS
#categorias-productos {
    h1 {
        margin: 35px;
        text-align: center;
        font-size: $font-size-title;
    }

    div {
        @include grid(3);
        gap: 25px;
        justify-items: center;
    }

    a {
        text-decoration: none;
        color: $color-texto;
        text-align: center;
    }

    img {
        width: 250px;
        height: auto;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
        font-size: $font-size-base;
        font-weight: bold;
    }
}

// INFORMACIÓN IMPORTANTE
#informacion-importante {
    @include flex(space-around);
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
    background-color: $color-primario;
    margin: 50px;

    div {
        @include flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 130px;
        height: 120px;
        background-color: azure;
        border-radius: 8px;
        box-shadow: 0 2px 5px;
    }

    p {
        margin: 5px 0;
        font-size: 12px;
        color: $color-texto;
        height: 20px;
    }

    img {
        width: auto;
        height: 50px;
        margin: 5px 0;
    }
}

// FOOTER
footer {
    @include flex(flex-end, center); // cambiar flex-start a flex-end
    padding: 10px;
    font-size: 14px;
    position: fixed; // añadir position fixed
    bottom: 0; // fijar al fondo
    right: 0; // fijar a la derecha
    background-color: $color-fondo; // añadir fondo para legibilidad
    width: auto; // ajustar ancho al contenido
    flex-direction: row; // forzar dirección en fila

    p {
        margin: 15px;
        white-space: nowrap; // evitar que el texto se rompa en múltiples líneas
    }
}


// Estilos comunes para todas las páginas
@mixin page-styles {
    background-color: $color-fondo;
    color: $color-texto;

    header nav ul li {
        display: flex;

        a {
            text-decoration: none;
            color: $color-texto;
        }
    }

    main {
        h1 {
            text-align: center;
            margin-top: 20px;
        }

        h3 {
            text-align: center;
            line-height: 1.6;
        }
    }

    footer {
        text-align: center;
        padding: 10px 15;
        position: fixed;
        bottom: 0;
    }
}

// Aplicar estilos a cada página
.pagina-principal {
    @include page-styles;
}

.pagina-new {
    @include page-styles;
}

.pagina-bestsellers {
    @include page-styles;
}

.pagina-anillos {
    @include page-styles;
}

.pagina-pendientes {
    @include page-styles;
}

.pagina-pulseras {
    @include page-styles;
}

.pagina-collares {
    @include page-styles;
}

.pagina-blog {
    @include page-styles;
}