// VARIABLES
// Paleta de colores utilizada en la página
$color-fondo: #CACED2;
$color-texto: black;
$color-primario: #6E5363;
$color-hover: #684145;
$color-borde: #ccc;

// Tamaños de fuente y espaciado
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-title: 45px;
$padding-base: 10px;