// VARIABLES
// Paleta de colores utilizada en la página
$color-fondo: white;
$color-texto: black;
$color-primario: #d4f0f5;
$color-hover: #007bff;
$color-borde: #ccc;

// Tamaños de fuente y espaciado
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-title: 45px;
$padding-base: 10px;